*{
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;

}
.header{
    background-color: white;
    font-family: "inter", sans-serif;
    font-style: normal;
    margin: 0px;
    display: flex;
    margin-bottom: -20px;
    padding: 10px;

    
}
#logo-website{
    height: 10rem;
    width: auto;
}

nav a{
    text-decoration: none;
    margin-left: 1rem;

}
#support{
    background-color: lightgreen;
    padding: 5px;
    border-radius: 20px;
}

.navbar{
    margin-left: auto;
    margin: 3.5rem 2rem auto auto;
    
}  
body{
    background-color: white;
    margin: 0;
    min-width: 558px;
}
.pembukaan img{
    width: 30%;
    display: block;
    margin: 0 auto;
      
}
.pembukaan h1{
    text-align: center;
    font-weight: 900 ;
    margin-bottom: 3rem;
    margin-top: 3rem;
}
.pembukaan{
    background-color: #d0d0d0;
}
.pembukaan p{
    width: auto;
    text-align: center;
    margin: 0;
    padding: 3rem 5rem 3rem 5rem;
    background-color: aliceblue;
}
h2{
    font-size: 2rem;
    margin: 0;
    text-align: center; 
}
.cara-bermain{
    background-color: white;
    padding: 1rem;

}
.cara-bermain h2{
    text-decoration: underline;
    margin-bottom: 5rem;
}
.container-cara{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 1.5rem;
}
.tulisan-cara{
    width: 45%;
    margin: 1rem auto;
}
.gambar-peta{
    width: 371px;
    margin: 1rem auto;
    text-align: end;
}
.gambar-peta img{
    height: 50%
}
.container-kontroversi{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    margin: 1.5rem;
}
.kontroversi{
    background-color: white;
    padding: 1rem;
}
.kontroversi h2{text-decoration: underline;margin-bottom: 5rem;}

.gambar-kontroversi{
    width: 371px;
    margin: 1rem auto;
    text-align: end;
}
.gambar-kontroversi img{
    width: 371px;
    background-color: black;
    border-radius: 10px;
}
.tulisan-kontroversi{
    width: 45%;
    margin: 1rem auto;
}
.video{
    display: flex;
    flex-wrap: wrap;
}
.tulisan-yt{
    margin: auto 2rem auto 3rem;
}
.footer{
    background-color: white;
    padding: 1rem;
    text-align: center;
    
}
#footer{
    opacity: 30%;
}
.role{
    background-color: white;
}
.tulisan-role{
    text-align: center;
}
.role1{
    background-color: #d0d0d0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.role2{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.role3{
    background-color: #d0d0d0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.role4{
    background-color: white;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}
.role5{
    background-color: #d0d0d0;
    padding: 1rem;
    display: flex;
    flex-wrap: wrap;
}

.gambar-role img{
    height: 20rem;
    margin: 1rem auto;
}
.gambar-role{
    width: 50%;
    text-align: end;
}
.role .tulisan{
    width: 50%;
    margin: auto auto;
    text-align: start;
}
#akhiran-role{
    margin: 1rem auto;
    text-align: center;
    padding: 5rem;
}